# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
docs/build

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IntelliJ project files
.idea
*.iml
out
gen

# Packaging stuff
*.egg-info/
