### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
*.egg-info/

# IntelliJ project files
.idea
*.iml
out
gen

# Logfiles
*.log

# Documentation build
docs/build
